{% extends 'base.html' %}
{% load static %}

{% block title %}
	Product
{% endblock title %}

{% block content %}

	<div class="container py-5">
		<div class="row mt-5">
			<div class="col-10 mx-auto col-md-6 my-3">
				<img src="{% static 'images/756237684478942.jpg' %}" alt="" style="width: 100%;">
			</div>
		</div>
	</div>
	<div class="col-10 mx-auto col-md-6 my-3">
		<div>
			<h1 class="product_title">Bugatti</h1>
			<h5 class="text-info fst-italic mb-4">$100 000 000</h5>
			<p class="product_desc">Product description</p>
			<p class="product_text text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem ea tempora sequi suscipit distinctio eius nobis assumenda perspiciatis amet quo deleniti doloremque natus laborum commodi, accusantium deserunt repellat odit nihil.
			Debitis corporis, libero provident impedit architecto ipsam quisquam, labore ratione saepe autem cum rem ea eaque assumenda voluptatem, nostrum fugiat ducimus sit natus molestiae expedita? Pariatur quae recusandae dicta maiores?
			Incidunt harum explicabo asperiores qui error? Soluta alias odio facilis itaque? Velit, iure excepturi dolorum accusantium sit reprehenderit aliquid et veritatis, doloribus vel, nostrum at! Nemo nam illo ut quos.
			Similique quas distinctio beatae dolores reprehenderit quidem quis dolorum. Animi inventore, quia quam sunt sapiente deserunt asperiores voluptas. Aliquid rerum ipsum, omnis accusamus vitae doloribus mollitia eveniet reprehenderit. Ea, quo.</p>
			<p class="product_text text-justify">Out Of Stock</p>
		</div>
	</div>

{% endblock content %}

